@import "settings";
@import "foundation";
@import "bourbon";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
$modalpadding: 30px 25px 28px 25px;

p {
	letter-spacing: 0.2px;
	margin-bottom: 1rem;
}

.blue {
	color: $primary-color;
}

.white {
	color: $white;
}

.light {
	color: $silver;
}

.top24 {
	margin-top: 30px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
	margin-bottom: 6px;
}

button .button {
	padding-top: 0.9rem;
	padding-bottom: 0.9rem;
}

//button.expand, .button.expand {
//	padding-bottom: 0.9em;
//}

button.warning, .button.warning {
	box-shadow:inset 0px 0px 0px 2px mix($white, $warning-color, 37%);
	background-color: $clear;
	color: $warning-color;
}

button.warning:hover, .button.warning:hover {
	box-shadow:inset 0px 0px 0px 2px $warning-color;
	color: $warning-color;
}

button.warning:focus, .button.warning:focus {
	color: $warning-color;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
	animation: rotating 2s linear infinite;
}

.secondary-bg {
	padding: 16px;
}

::-webkit-input-placeholder {
   color: $placeholder;
}

:-moz-placeholder { /* Firefox 18- */
   color: $placeholder;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $placeholder;  
}

:-ms-input-placeholder {  
   color: $placeholder;  
}

input[type="text"][readonly]
{
    background-color: $secondary-color;
    color: $primary-color;
}

input[type="text"][readonly]:focus
{
    color: $white;
}

.secondary-bg {
	background-color: $secondary-color;
}

.switch label:after {
	background: $primary-color;
}

.top-bar-section ul li {
	background-color: $clear;
}

.logo {
	margin-bottom: 4px;
}

.top-bar .name h1 a {
	color: $white;
}

.top-bar-section ul li > a.button.secondary {
	background-color: $clear;
	border: 1px solid $ghost;
	color: $ghost;
	top: 0.74375rem;
	height: 2.1rem;
}

.top-bar-section ul li > a.button.secondary:hover {
	color: $white;
	background-color: $clear;
	border: 1px solid $white;
}

.warn {
	//background-color: $warning-color;
	margin-top: 64px;
	padding: 24px 16px;
	//border: 1px solid shade($warning-color, 20%);
	//box-shadow: inset 0 0 2px shade($warning-color, 15%);

	p {
		color: rgba($white, 0.67);
		margin-bottom: 8px;
	}
	h5 {
		color: $white;
		margin-bottom: 8px;
		margin-top: 32px;
	}
	img {
		display: block;
		margin: 8px auto 20px auto;
	}
	input[type="text"][readonly] {
		margin-top: 32px;
		background-color: #2e363c;
	}
}

.more-security {
	color: rgba($white, 0.57);
	h4 {
		margin-top: 120px;
		margin-bottom: 32px;
		text-align: center;
	}
	a {
		display: block;
		margin-bottom: 16px;
	}
}

.index {
	.feature {
		margin-top: 24px;
	}
	.vcenter {
		.vimg {
			margin-bottom: 64px;
		}
	}
	.first {
		text-align: center;
		background-color: $secondary-color;
		img {
			display: block;
			margin: 64px auto 72px;
		}
		p {
			color: $ghost;
		}
		.panel {
			padding-top: 40px;
			padding-bottom: 20px;
			margin-top: 48px;
			background-color: #475159;
			margin-bottom: 64px;
		}
		h5 {
			color: $white;
			margin-bottom: 32px;
		}
		h6 {
			position: relative;
			color: $ghost;
			display: inline-block;
			bottom: 24px;
			margin-left: 14px;
			margin-right: 14px;
		}
		h6.white {
			color: $white;
		}
		.button {
			margin-top: 20px;
			width: 240px;
		}
	}

	.second {
		padding-top: 64px;
		padding-bottom: 64px;
		background-color: $primary-color;
		p {
			color: rgba($white, 0.67);
		}


	}
	.third {
		padding-top: 64px;
		padding-bottom: 64px;
		background-color: #F7F7F7;
		color: rgba($secondary-color, 0.57);
		h3, h5 {
			color: rgba($secondary-color, 0.77);
		}
	}
	.fourth {
		padding-top: 64px;
		padding-bottom: 0px;
		background-color: $secondary-color;
		color: rgba($white, 0.67);
		h3, h5 {
			color: $white;
		}
		h3 {
			text-align: center;
		}
		.hcenter {
			text-align: center;
		}
	}
}

.app-large {
	margin-top: 64px;
	img {
		display: block;
		margin: 0 auto;
	}
}

.modal {
	margin-top: 50px;
	background-color: $white;
	border-radius: 4px;
	color: rgba($secondary-color, 0.67);
	em {
		color: $secondary-color;
		font-style: normal;
	}	
	b {
		font-weight: 700;
		color: $secondary-color;
	}
	h4 {
		font-size: 18px;
		letter-spacing: 0.6px;
		line-height: 1;
		margin: 0;
		color: $secondary-color;
		font-weight: bold;
	}
	h5 {
		color: $secondary-color;
		font-weight: bold;	
	}
	h6 {
		color: rgba($secondary-color, 0.47);
		font-size: 0.8rem;
		font-weight: bold;
		line-height: 0.6rem;
		margin-bottom: 20px;
	}

	> .row {
		padding: $modalpadding
	}
	.noleftpad {
		padding-left: 0px;
	}
	.norightpad {
		padding-right: 0px;
	}

	.btcbg {
		/*
		padding-left: 64px;
		background: url(../images/icons/bitcoin@2x.png) 0px 22px no-repeat;
		background-size: 48px 48px;
		padding-bottom: 24px;
		*/
		> .row {
			padding: $modalpadding
		}
	}
	.warnbg {
		padding-left: 64px;
		background: url(../images/icons/warning@2x.png) 0px 22px no-repeat;
		background-size: 48px 48px;		
	}

	.modalheader {
		background: url(../images/line.png) bottom right no-repeat;
		background-size: 100% 1px;
	}

	.modalbody {
		.refresh {
			margin-top: 10px;
			background: url(../images/icons/refresh@2x.png) top left no-repeat;
			width: 35px;
			height: 35px;
			background-size: 35px 35px;			
		}
		.refresh:hover {
			cursor: pointer;
			background: url(../images/icons/refreshdark@2x.png) top left no-repeat;
			background-size: 35px 35px;						
		}
		.ill {
			margin-bottom: 32px;
		}

		.red {
			color: $warning-color;
		}
		.ui {
			padding-left: 22px;
			margin-bottom: 10px;
			background: url(../images/icons/unchecked@2x.png) 0px 4px no-repeat;
			background-size: 16px 16px;
		}
		.i {
			padding-left: 22px;
			margin-bottom: 10px;
			background: url(../images/icons/check@2x.png) 0px 4px no-repeat;
			background-size: 16px 16px;
		}
		.black {
			color: $secondary-color;
		}
		.buyercomment, .sellercomment {
			margin-bottom: 32px;
			background: url(../images/icons/buyer-comment@2x.png) 0px 24px no-repeat;
			background-size: 55px 55px;
			.text {
				padding: 14px;
				background-color: #EDF4F9;
				margin-bottom: 3px;
				border-radius: 3px;
				border: 1px solid #A6CAE3;
				color: $secondary-color;
				margin-left: 70px;			
			}
			small {
				text-align: right;
			}
		}

		.sellercomment {
			background: url(../images/icons/seller-comment@2x.png) 0px 22px no-repeat;
			background-size: 55px 55px;			
		}

		.youcomment {
			margin-bottom: 32px;
			background: url(../images/icons/you-comment@2x.png) 100% 25px no-repeat;
			background-size: 55px 54px;
			.text {
				padding: 14px;
				background-color: #F3F4F4;
				margin-bottom: 3px;
				border-radius: 3px;
				border: 1px solid #CFD2D3;
				color: $secondary-color;
				margin-right: 70px;	
			}
			small {
				text-align: right;
				margin-right: 85px;
			}
		}
	}
	.modalfooter {
		//padding: 16px 16px;
		background-color: mix($black, $secondary-color, 27%);
		color: rgba($white, 0.47);
		border-radius: 0 0 4px 4px;
	}
	.commentfooter {
		border-top: 1px solid #D3D6D9;
		background-color: #F1F4F8;
		color: rgba($white, 0.47);
		border-radius: 0 0 4px 4px;
		input:hover {
			background-color: white;
		}
		input:focus {
			border-color: mix($white, $secondary-color, 57%);
		}
	}

	h1 {
		color: $secondary-color;
		font-weight: lighter;
		line-height: 1em;
	}
	small {
		display: block;
		font-size: rem(13);
		color: mix($white, $secondary-color, 47%);
	}
}

.bgblue {
	background-color: $primary-color;
	h1 {
		color: $white;
		margin-bottom: 0px;
	}
	.modalheader {
		h4 {
			color: $white;
		}
	}
	.modalbody {
		small {
			color: rgba($white, 0.67);
			margin-top: 0px;
			font-size: rem(13);
		}
		small .unconfirmed {
			color: $white;
		}
		p.title {
			margin-top: 32px;
			margin-bottom: 8px;
			color: $white;
		}
		p {
			color: rgba($white, 0.67);
		}
	}
}

.steps {
	background-color: $secondary-color;
	margin-bottom: 256px;
	.margin-top {
		margin-top: 40px;
	}
	.first {
		margin-top: 64px;
		margin-right: 10px;
		margin-left: 10px;
	}
	.app {
		position: relative;
		left: 725px;
		top: -300px;
	}
}

.dash {
	background-color: $secondary-color;
	.end {
		margin-top: 48px;
	}	
	.bottom {
		margin-top: 128px;
		height: 64px;
		background-color: $white;
		text-align: center;
		color: $secondary-color;
		padding-top: 18px;
	}
	.completed {
		position: relative;
		height: 600px;
	}
	button.warning, .button.warning {
		box-shadow: none;
		font-size: rem(15);
		color: mix($white, $warning-color, 17%);
	}
	.button.warning:hover {	
		color: $warning-color;
	}
	.dispute {
		position: absolute;
		transition: all 100ms ease-out;
		display: none;
		z-index: 1000;
		top: 0;
		left: 0;
		width: 100%;
		border-radius: 4px;
		background-color: #F1F4F8;
		height: 100%;
		a {
			position: absolute;
			right: 48px;
			bottom: 92px;
		}
		.small-12 {
			padding: $modalpadding;
		}
		.modalbody {
			padding-left: 16px;
			padding-right: 16px;
		}
		.disputecancel {
			position: absolute;
			top: 16px;
			right: 16px;
			background: url(../images/icons/X@2x.png) 0px 0px no-repeat;
			background-size: 32px 64px;
			width: 32px;
			height: 32px;
		}
		.disputecancel:hover {
			background: url(../images/icons/X@2x.png) 0px -32px no-repeat;
			background-size: 32px 64px;
			cursor: pointer;
		}
		.attach {
			position: absolute;
			left: 35px;
			bottom: 88px;
			background: url(../images/icons/paperclip@2x.png) 0px -32px no-repeat;
			background-size: 32px 64px;
			width: 32px;
			height: 32px;
		}
		.attach:hover {
			background: url(../images/icons/paperclip@2x.png) 0px 0px no-repeat;
			background-size: 32px 64px;
			cursor: pointer;
		}
		h4 {
			color: $warning-color;
		}
		.secondary {
			width: 140px;
			background-color: $clear;
			color: $secondary-color;
			box-shadow:inset 0px 0px 0px 2px mix($white, $secondary-color, 67%);
		}
		.secondary:hover {
			box-shadow:inset 0px 0px 0px 2px mix($white, $secondary-color, 37%);			
		}
		textarea {
			padding: 16px;
			height: 315px;
			border-radius: 3px;
			background-color: white;
		}
	}

	.areyousure {
		.small-12 {
			padding-top: 30px;
			padding-bottom: 30px;
		}
		.modalbody {
			padding-top: 30px;
		}
		position: absolute;
		transition: all 100ms ease-out;
		display: none;
		z-index: 1000;
		top: 0;
		left: 0;
		width: 100%;
		border-radius: 4px;
		text-align: center;
		ul {
			text-align: left;
			color: $secondary-color;
			padding-bottom: 18px;
			li {
				margin-top: 10px;
			}
		}
		.secondary {
			width: 140px;
			background-color: $clear;
			color: $secondary-color;
			box-shadow:inset 0px 0px 0px 2px mix($white, $secondary-color, 67%);
		}
		.secondary:hover {
			box-shadow:inset 0px 0px 0px 2px mix($white, $secondary-color, 37%);			
		}
	}
	.modal {
		z-index: 100;
		.modalheader {
			background: url(../images/line.png) bottom right no-repeat;
			background-size: 100% 1px;
		}		
	}

	p.warnp {
		color: $warning-color;
		font-weight: bold;
		margin-bottom: 8px;
	}

	input {
		border-color: rgba(0,0,0,0.17);
		box-shadow: none;
		color: $charcoal;
	}
	input:focus, input:hover {
		border-color: rgba(0,0,0,0.17);
	}

	.receipt {
		p {
			margin-bottom: 0.3rem;
		}
		.black {
			color: $secondary-color;
		}
		.recieptdate {
			background: url(../images/line.png) bottom right no-repeat;
			background-size: 100% 1px;
			background-color: #F1F4F8;			
			p {
				margin-bottom: 0px;
			}
		}
		.receipttotal {
			background: url(../images/line.png) top right no-repeat, url(../images/line.png) bottom right no-repeat;
			background-size: 100% 1px;
			p {
				position: relative;
				left: -50px;
			}
		}
		.receiptcontact {
			text-align: center;
			padding: 30px 0;
		}
	}





	.line {
		background: url(../images/line.png) bottom right no-repeat;
		background-size: 100% 1px;
	}

}

.footer {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #35404A;
	a {
		color: rgba($white, 0.37);
	}
	a:hover {
		color: rgba($white, 0.57);
	}
	h5 {
		font-size: rem(16);
	}
	li {
		margin-top: 10px;
	}
	.footerbottom {
		margin-top: 32px;
		padding-top: 16px;
		text-align: center;
		border-top: 1px solid rgba($white, 0.12);
		a {
			display: inline-block;
			text-align: center;
			margin-left: 20px;
		}
	}
}

.areyousure {
    //transform: rotateY( 180deg );
}

.flip10{
    transform: rotateY( -10deg );
	transition:  50ms ease-out; 			
}

.flip90{
    transform: rotateY( 90deg );
	transition:  100ms ease-in; 			
}

.flip190{
    transform: rotateY( 190deg );
	transition:  100ms ease-out; 			
}

.flip180 {
    transform: rotateY( 180deg );
	transition:  150ms ease-out; 			
}


// Medium screens
@media only screen and (min-width: 40.063em) { 
	.index {
		.vcenter {
  			display: flex;
  			align-items: center;
  			justify-content: center;
  			.vimg {
				margin-bottom: 0px;
			}
		}
		.feature {
			margin-top: 32px;
		}
	}
	.steps {
		.modal {
			.modalbody {
				img {
					margin-bottom: 0px;
				}
			}
		}
	}
	.dash .completed {
		height: 510px;
	}
} 


// Large screens
@media only screen and (min-width: 64.063em) { 
	.dash {
		.end {
			margin-top: 0px;
		}
	}
	.large-5 {
		width: 408px;
		margin-right: 16px;
		height: 410px;
	}
	.index {
		.feature {
			margin-top: 32px;
		}
	}

	input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
		font-size: 1.04rem;
	}
}




