<div class="footer">
	<div class="row">
		<div class="small-4 large-3 columns">
			<img src="/static/images/logo.png" width="140">
		</div>
		<div class="small-4 large-3 columns">
			<ul class="no-bullet">
				<li><h5>Company</h5></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Contact</a></li>				
			</ul>
		</div>
		<div class="small-4 columns end">
			<ul class="no-bullet">
				<li><h5>Product</h5></li>
				<li><a href="#">Download app</a></li>
				<li><a href="#">FAQ</a></li>
			</ul>
		</div>
	</div>
	<div class="row footerbottom">
		<div class="small-12 columns">
			<a href="#">Privacy</a>
			<a href="#">Terms</a>
			<a href="#">Sitemap</a>
		</div>
	</div>
</div>