    <div class="receipt">
        <div class="row">
            <div class="small-12 large-10 large-offset-1 columns modal">
                <div class="row modalheader">
                    <div class="small-12 columns">
                        <h4>Receipt</h4>
                    </div>
                </div>
                <div class="row recieptdate">
                    <div class="small-12 columns">
                        <p>Transaction ID</p> <p><em>{{escrow['transactionid']}}</em></p>
                        <p style="padding-top: 10px;">Transaction Date</p> <p><em>{{escrow['transactiontime']}}</em></p>
                    </div>
                </div>
                <div class="row modalbody">
                	<div class="small-12 columns">
                		<div class="row" style="padding: 0px;">
		                    <div class="small-8 columns">
		                        <h6>CHARGE</h6>
		                    </div>
		                    <div class="small-4 columns">
		                        <h6>COST</h6>
		                    </div>
		                    <div class="small-8 columns">
		                        <p>Payment to seller</p>
		                    </div>
		                    <div class="small-4 columns">
		                        <span><em>{{satoshi_to_btc(decimal.Decimal(escrow['fees']['seller']))}} BTC</em></span>
		                    </div>
		                    <div class="small-8 columns">
		                        <p>Bestcrow 1% fee</p>
		                    </div>
		                    <div class="small-4 columns">
		                        <span><em>{{satoshi_to_btc(decimal.Decimal(escrow['fees']['bestcrow']))}} BTC</em></span>
		                    </div>
		                    <div class="small-8 columns">
		                        <p>Bitcoin miner fee</p>
		                    </div>
		                    <div class="small-4 columns">
		                        <span><em>{{satoshi_to_btc(decimal.Decimal(escrow['fees']['miner']))}} BTC</em></span>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <div class="row receipttotal">
		            <div class="small-4 small-offset-8 columns">
		                <p>Total: <b>{{satoshi_to_btc(decimal.Decimal(escrow['fees']['seller'] + escrow['fees']['bestcrow'] + escrow['fees']['miner']))}} BTC</b></p>
		            </div>
		        </div>
                <div class="row receiptcontact">
                    <div class="small-12 columns">
                        If you have any problems, please contact us <a href="mailto:support@bestcrow.io">support@bestcrow.io</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
