<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/style.css">
	<title>escrow</title>
</head>
<body class="steps">

    {% include 'modules/menu.html' %}

	<div class="first">
		<div class="row">
			<div class="small-12 columns">
				<h2>Send this URL to the seller</h2>
				<p>They need this link to complete the transaction and receive their payment</p>
			</div>
		</div>
	</div>

	<div class="second">
		<div class="row">
			<div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 secondary-bg">
				<img src="/static/images/icons/step3@2x.png" width="48">
				<img src="/static/images/icons/send@2x.png" width="100" class="icon">
				<label><span class="white">TIP:</span> The seller is the only one that receives this
					<input type="text" name="address" class="radius" autocomplete="off" readonly value="http://52.1.141.196/seller/join/{{escrow['joinhash']}}">
				</label>
				<a href="/buyer/{{base58}}" type="submit" class="button radius"><div>That's it</div><img src="/static/images/icons/nextarrow@2x.png" width="18"></a>
			</div>
		</div>
	</div>


	<script src="/static/js/javascript-min.js"></script>
	<script>
		$(document).ready(function() {
			$("input").on("click", function() {
				console.log("Test");
				this.select();
			});
		});
	</script>
</body>	
</html>
