<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/style.css">
	<title>escrow</title>
</head>
<body class="buyer">

    {% include "modules/menu.html" %}

	<div class="first">
		<div class="row">
			<div class="small-12 columns">
				<h5>Balance in escrow</h5>
                {% if not balance %}
				<h1>0.00 BTC</h1>
                {% else %}
                <h1>{{"%.5f"%balance}}</h1>
                {% end %}
			</div>
		</div>
	</div>

	<div class="second">
		<div class="row">
			<div class="small-12 medium-6 columns border">
				<img src="/static/images/icons/small/send@2x.png" width="32">
				<label>
					Link to give to seller
					<input type="text" name="address" class="radius" autocomplete="off" readonly value="52.1.141.196/seller/join/{{escrow['joinurlhash']}}">
				</label>
			</div>
			<div class="small-12 medium-6 columns">
				<img src="/static/images/icons/small/wallet@2x.png" width="32">
				<label>
					Escrow address
					<input type="text" name="address" class="radius" autocomplete="off" readonly value="{{escrow['multisigaddress']}}">
				</label>
			</div>
		</div>
	</div>

	<div class="third">
		<div class="row">
			<div class="small-12 secondary-bg">
				<h4>Complete the transaction</h4>
                {% if not escrow['sellerpayoutaddress'] %}
				<p>We're still waiting on the seller to give us a payout address</p>
                {% else %}
                    {% if not balance %}
				    <p>Fund the escrow account</p>
                    {% else %}
				    <p>When you’re happy with the transaction, release the funds to the seller</p>
				    <a href="/buyer/send/{{base58}}" class="button radius">Release the funds</a>
                    {% end %}
                {% end %}
			</div>
		</div>
	</div>

	<script src="/static/js/javascript-min.js"></script>
	<script>
		$(document).ready(function() {
			$("input").on("click", function() {
				this.select();
			});
		});
	</script>
</body>	
</html>
