<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/style.css">
	<title>escrow</title>
</head>
<body class="steps">

    {% include 'modules/menu.html' %}

	<div class="first">
		<div class="row">
			<div class="small-12 columns">
				<h2>Fund the escrow</h2>
				<p>Send funds to the wallet that will store your coins until you are happy with the transaction.<br>You decide when to release the payment to the seller.</p>
			</div>
		</div>
	</div>

	<div class="second">
		<div class="row">
			<div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 secondary-bg">
				<img src="/static/images/icons/step2@2x.png" width="48">
				<img src="/static/images/icons/wallet@2x.png" width="100" class="icon">
				<label>Your BTC escrow address
					<input type="text" name="address" class="radius" autocomplete="off" readonly value="{{escrow['multisigaddress']}}">
				</label>
				<a href="/buyer/{{base58}}" class="button radius">
				    <span>Next<div class="light">Only 1 step left</div></span><img src="/static/images/icons/nextarrow@2x.png" width="18">
                </a>
			</div>
		</div>
	</div>

	<script src="/static/js/javascript-min.js"></script>
	<script>
		$(document).ready(function() {
			$("input").on("click", function() {
				this.select();
			});
		});
	</script>
</body>	
</html>
