<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/style.css">
	<title>escrow</title>
</head>
<body class="steps">

    {% include 'modules/menu.html' %}

	<div class="row">
		<div class="small-8 small-offset-2 warning">
			<img src="/static/images/icons/warning.png">
			<p>
				<span class="white">Bookmark this URL</span><br>You must have it to complete this transaction
			</p>
		</div>
	</div>


	<div class="row">
		<div class="small-8 small-offset-2 warning">
			<img src="/static/images/icons/warning.png">
			<p>
				<span class="white">Recover this URL</span><br>Our <a href="/recovery" style="color:rgba(0,0,255,0.4)">recovery page</a> will be able to help you recover this url if you lose it. You will be required to know this phrase, so copy it down somewhere safe
                <p style="color: white;margin-top: 16px;">{{escrow['buyerphrase']}}</p>
			</p>
		</div>
	</div>


	<div class="first">
		<div class="row">
			<div class="small-12 columns">
				<h2>In case of a refund</h2>
				<p>We need a bitcoin address we can send a potential refund back too</p>
			</div>
		</div>
	</div>

	<div class="second">
		<div class="row">
			<div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 secondary-bg">
				<img src="/static/images/icons/step1@2x.png" width="48">
				<img src="/static/images/icons/refund@2x.png" width="100" class="icon">
                <form method="POST" action="/buyer/{{base58}}" id="addressform">
				    <label><span class="white">TIP:</span> Be sure you control the private keys to this address
					    <input type="text" name="buyeraddress" placeholder="Your BTC Address" class="radius" autocomplete="off" value="" required autofocus>
				    </label>
				    <button type="submit" class="button radius">
					    <span>Next<div class="light">Only 2 steps left</div></span><img src="/static/images/icons/nextarrow@2x.png" width="18">
                    </button>
                </form>
			</div>
		</div>
	</div>

	<script src="/static/js/javascript-min.js"></script>
	<script>
		$(document).ready(function() {

		    $("#addressform").on("submit", function(e) {
                if( $("input").val() ) {
				    $("button").html("<span>Creating escrow<div class='light'>Generating bitcoin address</div></span><img src='/static/images/icons/spinner@2x.png' class='spinner' width='30'>");
                }
			});
        });

	</script>
</body>	
</html>
