<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/style.css">
	<title>escrow</title>
</head>
<body class="steps">

    {% include 'modules/menu.html' %}

    <div class="first">
    	<div class="row">
    		<div class="small-12">
				<img src="/static/images/icons/wallet@2x.png" width="100" class="icon">
    		</div>
    	</div>
    </div>

	<div class="second">
		<div class="row collapse">
			<div class="small-12 medium-8 medium-offset-2 modal columns">
				<div class="row modalheader">
					<div class="small-12">
						<h4 class="left">Welcome to Bestcrow</h4>
					</div>
				</div>
				<div class="row modalbody">
					<div class="small-12 columns">
						<div class="row collapse">
							<div class="small-12 columns">
								<p class="white">Someone has started a bitcoin transaction with you using escrow</p>
								<p>We need a bitcoin address that you control. We will return the funds address in the event that a dispute is resolved in your favor.</p>
							</div>
						</div>
						<div class="row collapse">
							<div class="small-10 columns">
		                		<form method="POST" action="/buyer/join/{{escrow['joinurlhash']}}" id="addressform">											
							    <input type="text" name="buyeraddress" placeholder="Your BTC Address" autocomplete="off" value="" required autofocus>
							</div>
							<div class="small-2 columns">
						    	<button type="submit" class="button postfix radius">
									Next
		                    	</button>
		                    </form>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <div clas="row">
		        	<div class="small-12 modalfooter">
		        		<span class="white">TIP:</span> Be sure you control the private keys to this address
		        	</div>
		        </div>
			</div>
		</div>
	</div>

	<script src="/static/js/javascript-min.js"></script>
	<script>
		$(document).ready(function() {

        });

	</script>
</body>	
</html>
