<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/style.css">
	<title>escrow</title>
</head>
<body class="steps">

    {% include 'modules/menu.html' %}

	<div class="first">
		<div class="row">
			<div class="small-12 medium-12 large-8 large-offset-2 columns modal">
				<div class="row modalheader">
					<div class="small-12">
						<h4>Welcome</h4>
					</div>
				</div>
				<div class="row modalbody">
					<div class="small-12">
						<div class="row">
							<div class="small-4 small-centered medium-uncentered medium-3 medium-push-9 columns">
								<img src="/static/images/illustration/medium-refund@2x.png" class="ill">
							</div>		
							<div class="small-12 medium-9 medium-pull-3 columns">
							        {% if errors == "invalid" %}
								<p class="secondary red">That's an invalid bitcoin address</p>
								{% else %}
								<p class="secondary">An address for a refund</p>
								{% end %}
								<p>We need a valid bitcoin address that you control. We will send a refund to this address if a dispute resolution is resolved in your favor.</p>
							</div>
						</div>
						<div class="row margin-top">
							<div class="small-12 medium-9 columns">
		                		<form method="POST" action="/buyer/{{base58}}" id="addressform">
							    <input type="text" class="radius" name="buyeraddress" placeholder="Your BTC Address" autocomplete="off" required autofocus>
							</div>
							<div class="small-12 medium-3 columns">
						    	<button type="submit" class="button radius expand">
									Next
		                    	</button>
		                    	</form>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <div class="row modalfooter">
		        	<div class="small-12">
		        		<span class="white">TIP:</span> Be sure you control the private keys to this address
		        	</div>
		        </div>
			</div>
		</div>
	</div>


	<!--
	<div class="more-security">
		<div class="row">
			<div class="small-12">
				<h4>Need more security?</h4>
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 medium-offse-1 large-6 large-offset-2">
				<h5>Run our native keylocker app</h5>
				<p>Store the private keys to your escrow account on your hard drive for the ultimate in security. You don’t need to rely on us. </p>
				<p>Open the app, copy and paste the URL to this web page into the app and follow the steps in there.</p>
				<a href="#"><img src="/static/images/icons/windows.png"> Windows keylocker v1.0</a>
				<a href="#"><img src="/static/images/icons/apple.png"> Mac OSX (10.9+) keylocker v1.0</a>
			</div>
		</div>
		<div class="row">
			<div class="app">
				<img src="/static/images/app-placeholder.png">
			</div>	
		</div>
	</div>
	-->
	<script src="/static/js/javascript-min.js"></script>
	<script>
		$(document).ready(function() {
			$("input[type='text'][readonly]").on("click", function() {
				this.select();
			});

		    $("#addressform").on("submit", function(e) {
                if( $("input").val() ) {
				    $("button").html("<img src='/static/images/icons/spinner@2x.png' class='spinner' width='24'>");
                }
			});
        });

	</script>
</body>	
</html>
