<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/style.css">
	<title>escrow</title>
</head>
<body class="dash">

    {% include "modules/menu.html" %}

    <div class="first">
    	<div class="row">
    		<div class="small-12 large-10 large-offset-1 columns modal">
    			<div class="btcbg">
	    			<div class="row modalheader">
	    				<div class="small-12 columns">
		    				<h5>This escrow is complete</h5>
		    			</div>
	    			</div>
	    			<div class="row modalbody">
	    				<div class="small-12 columns">

                            {% if escrow['buyerstartedescrow'] %}
                                <p class="i">
                                    <span class="black">Send signup link to the seller</span><br>Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap. Hashtag typewriter banh mi, squid keffiyeh High Life Brooklyn twee craft beer tousled chillwave.
                                </p>
                            {% end %}

                            <p class="i">
                                <span class="black">Fund the escrow account</span><br>Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap.
                            </p>

	    					<p class="i"><span class="black">Release the funds to the seller</span><br>Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap.</p>
	    				</div>
	    			</div>
	    		</div>
            </div>
    	</div>
    </div>

    <div class="receipt">
        <div class="row">
            <div class="small-12 large-10 large-offset-1 columns modal">
                <div class="row receiptheader">
                    <div class="small-12 columns">
                        <h5>Recipt</h5>
                    </div>
                </div>
                <div class="row recieptdate">
                    <div class="small-12 columns">
                        <p>Transaction ID:</span> <span class="black">19dajnau83kadjfhu3iiasdjjh</span></p>
                        <p>Transaction Date: <span class="black">January 18th, 2015</span></p>
                    </div>
                </div>
                <div class="row modalbody receiptbody line">
                    <div class="small-8 columns">
                        <h5>Charge</h5>
                    </div>
                    <div class="small-4 columns">
                        <h5>Cost</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="small-8 columns">
                        <p>Payment to seller</p>
                    </div>
                    <div class="small-4 columns">
                        <span class="black">0.24 BTC</span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-8 columns">
                        <p>Bestcrow fee</p>
                    </div>
                    <div class="small-4 columns">
                        <span class="black">0.01 BTC</span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-8 columns">
                        <p>Bitcoin miner fee</p>
                    </div>
                    <div class="small-4 columns">
                        <span class="black">0.002 BTC</span>
                    </div>
                </div>
                <div class="row total">
                    <div class="small-4 small-offset-8 columns">
                        <p>Total: <b class="black">0.24 BTC</b></p>
                    </div>
                </div>
                <div class="row contact">
                    <div class="small-12 columns">
                        If you have any problems, please contact us <a href="mailto:support@bestcrow.io">support@bestcrow.io</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<script src="/static/js/javascript-min.js"></script>
	<script>

	</script>
</body>	
</html>
