<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/style.css">
	<title>escrow</title>
</head>
<body class="steps">

    {% include 'modules/menu.html' %}

	<div class="first">
		<div class="row">
			<div class="small-12 medium-12 medium-offse-1 large-8 large-offset-2 columns modal">
				<div class="row modalheader">
					<div class="small-12">
						<h4>Recovery</h4>
					</div>
				</div>
				<div class="row modalbody">
					<div class="small-12">
						<div class="row">
							<div class="small-4 small-centered medium-uncentered medium-3 medium-push-9 columns">
								<img src="/static/images/illustration/medium-refund@2x.png" class="ill">
							</div>		
							<div class="small-12 medium-9 medium-pull-3 columns">
								<p><em>Lost the URL to your transaction?</em></p>
								<p>We've got you covered. Enter in the 12 word phrase we gave you on signup and we'll retrieve your URL.</p>
							</div>
						</div>
						<div class="row margin-top">
							<div class="small-12 columns">
		                		{% if ripe %}

		                		<p>Got it. Here's your link. Dont' lose it this time</p>
		                		<a href="/buyer/{{ripe}}">www.bestcrow.io/buyer/{{ripe}}</a>
		                		<p></p>

		                		{% else %}
		                		<form method="POST" action="/recovery" id="phraseform">
							    <textarea style="height:147px" name="phrase" class="radius" autocomplete="off" required></textarea>
		                    	<button type="submit" class="button radius">
						        	Recover my URL
		                    	</button>
		                		</form>
		                		{% end %}
		                	</div>
		                </div>
                	</div>
                </div>
			</div>
		</div>
	</div>

	<script src="/static/js/javascript-min.js"></script>
	<script>
		$(document).ready(function() {

		});
	</script>
</body>	
</html>
