<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/style.css">
	<title>escrow</title>
</head>
<body class="steps">

    {% include 'modules/menu.html' %}

	<div class="first">
		<div class="row">
			<div class="small-12 medium-12 medium-offse-1 large-8 large-offset-2 modal columns">
				<div class="row modalheader">
					<div class="small-12 columns">
						<h5>Sign up the buyer</h5>
					</div>
				</div>
				<div class="row modalbody">
					<div class="small-12 columns">
						<div class="row">
							<div class="small-4 small-centered medium-uncentered medium-3 medium-push-9 columns">
								<img src="/static/images/illustration/medium-send-link@2x.png">
							</div>		
							<div class="small-12 medium-9 medium-pull-3 columns">
								<p class="secondary">Send the link below to the buyer</p>
								<p>The buyer needs this link to fund the escrow and complete the transaction.</p>
							</div>
						</div>
						<div class="row margin-top">
							<div class="small-12 medium-9 columns">
								<input type="text" name="joinaddress" class="radius" autocomplete="off" readonly value="www.bestcrow.io/buyer/join/{{escrow['joinurlhash']}}">
		                	</div>
							<div class="small-12 medium-3 columns">
								<a href="/seller/{{base58}}" class="button expand radius">
									Next
								</a>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <div class="row modalfooter margin-top">
		        	<div class="small-12">
		        		<span class="white">TIP:</span> Be sure the buyer is the only one that receives this address
		        	</div>
		        </div>
			</div>
		</div>
	</div>

	<script src="/static/js/javascript-min.js"></script>
	<script>
		$(document).ready(function() {
			$("input").on("click", function() {
				this.select();
			});
		});
	</script>
</body>	
</html>
