<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/style.css">
	<title>escrow</title>
</head>
<body class="dash">
  
    {% include 'modules/menu.html' %}

    {% include 'modules/sellercompleted.html' %}

    {% if escrow['escrowcomplete'] %}
        {% include "modules/receipt.html" %}
    {% end %}

    {% if not escrow['sellerstartedescrow'] and not escrow['escrowcomplete'] %}

    <div class="second">
    	<div class="row">
    		<div class="small-12 large-10 large-offset-1 columns modal">

	    			<div class="row modalheader">
	    				<div class="small-12">
		    				<h4>Warning</h4>
		    			</div>
	    			</div>
	    			<div class="row modalbody">
	    				<div class="small-12">
	    					<p class="warnp">You must control the private keys to this bitcoin address</p>
	    					<p>This is the bitcoin address that the funds are going to be sent too when the transaction is complete. If you do not control this address, start a new escrow transaction.</p>
	    					<div class="top24">
	    						<input type="text" class="radius" name="buyeraddress" placeholder="Your BTC Address" autocomplete="off" value="{{escrow['sellerpayoutaddress']}}" required readonly>
	    					</div>
	    				</div>
	    			</div>

    		</div>
    	</div>
    </div>

    {% end %}

    {% if escrow['multisigaddress'] %}
    <div class="third">
    	<div class="row">
    		<div class="small-12 large-10 large-offset-1 columns modal bgblue">
    			<div class="row modalheader">
    				<div class="small-12">
    					<h4>Funds in escrow</h4>
    				</div>
    			</div>
    			<div class="row modalbody">
    				<div class="small-12">
    					<div class="left">
	    					{% if not balance %}
							<h1 class="balance">0 BTC</h1>
	                		{% else %}
	                		<h1 class="balance">{{balance}} BTC</h1>
	                		{% end %}
	                		<small>Pending confirmation: <span class="unconfirmed">{{unconfirmed}} BTC</span></small>
	                		<p class="title">Escrow Address</p>	                		
                		</div>
                		<div class="refresh right">
                		</div>
	                	<input type="text" name="address" class="radius expand" autocomplete="off" readonly value="{{escrow['multisigaddress']}}">       
    				</div>
    			</div>
    		</div>
        </div>

        {% if not escrow['buyerpayoutaddress'] and not escrow['buyerapi'] %}
        <div class="row">
			<div class="small-12 large-10 large-offset-1 columns modal">
    			<div class="row modalheader">
    				<div class="small-12">
    					<h4>Sign up the buyer</h4>
    				</div>
    			</div>
    			<div class="row modalbody">
    				<div class="small-12">
                        <p><em>Steps</em><br>
                        Give this link to the seller in your escrow transaction. We need a bitcoin address from them that we can send the escrow funds too at the end of the transaction.</p>
                        <label><em>URL for the seller</em>
    					   <input type="text" name="address" class="radius expand" autocomplete="off" readonly value="www.bestcrow.io/buyer/join/{{escrow['joinurlhash']}}">
                        </label>
    				</div>
    			</div>
    		</div>
    		{% end %}
    	</div>
    </div>
    {% end %}

    <div>
    	<div class="row">
    		<div class="small-12 large-10 large-offset-1 columns modal">
    			<div class="row modalheader">
    				<div class="small-12">
    					<h4>Comments</h4>
    				</div>
    			</div>
    			<div class="row modalbody commentsbody">
                    {% if not comments %}
                        <div class="small-12 emptycomment">
                            <p style="margin-bottom:0px">No comments yet</p>
                        </div>
                    {% else %}
                        {% for comment in comments %}
                            {% if comment['author'] == 'buyer' %}
                                <div class="small-10 medium-8 buyercomment">
                                    <small>{{ comment['posted'] }}</small>
                                    <p class="text">{{ comment['text'] }}</p>
                                </div>
                                <div class="small-2 medium-offset-4 columns">
                                </div>
                            {% else %}
                                <div class="small-10 small-offset-2 medium-8 medium-offset-4 youcomment">
                                    <small>{{ comment['posted'] }}</small>
                                    <p class="text">{{ comment['text'] }}</p>
                                </div>
                            {% end %} 
                        {% end %}                    
                    {% end %}
    			</div>
    			<div class="row commentfooter">
    				<div class="small-12 medium-9 columns noleftpad">
    					<input type="text" class="radius" name="comment" placeholder="Comment for buyer" autocomplete="off" maxlength="255">
    				</div>
					<div class="small-12 medium-3 columns norightpad">
						<a href="#" class="button expand radius leavecomment">
							Leave Comment
						</a>
		            </div>
    			</div>
    		</div>
    	</div>
    </div>

	<div class="bottom">
		<div class="row">
			<div class="small-12">
				<p>Have a question? Email our support team at <a href="mailto:">support@bestcrow.io</a></p>
			</div>
		</div>
	</div>
    
	<script src="/static/js/javascript-min.js"></script>
	<script>
		$(document).ready(function() {
            seller.init("{{escrow['sellerurlhash']}}", "{{escrow['multisigaddress']}}");
		});
	</script>
</body>	
</html>
