<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/style.css">
	<title>escrow</title>
</head>
<body class="dash">
    {% include "modules/menu.html" %}

    {% include "modules/sellercompleted.html" %}

    {% include "modules/receipt.html" %}

	<div class="bottom">
		<div class="row">
			<div class="small-12">
				<p>Have a question? Email our support team at <a href="mailto:">support@bestcrow.io</a></p>
			</div>
		</div>
	</div>

	<script src="/static/js/javascript-min.js"></script>
	<script>

	</script>
</body>	
</html>
